body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    display: none;
    text-align: center;
}

#startPage {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#startGameButton{
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

#gamePage {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#restartPage {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.choices button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 24px;
}
.result, .score, .final-result {
    margin-top: 20px;
    font-size: 24px;
}